
body{
  background-color: rgb(213, 243, 243);
}
.header-form{
  width: 100%;
  padding-top: 30px;
  position: relative;
  @media (min-width:$tablet) {
    padding-top: 60px;
  }
  @media (min-width:$desktop) {
    padding-top: 79px; 
  }
}
.header{
  text-align: center;
  @media (min-width:$tablet) {
    padding: 0px 60px 0px 60px;
  }
  @media (min-width:$desktop) {
   margin: 0 auto;
  }
  
}

.header-input{
width: 100%;
height: 48px;
padding: 13px 20px 13px 57px;
margin-bottom: 15px;
border: none;
border-radius: 20px;
background: white;
outline: none;
font-size: 14px;
line-height: 1.21;
text-align: start;
letter-spacing: 0.04em;
color: #000000;
@media (min-width:$tablet) {
margin-bottom: 12px;
font-size: 18px;
line-height: 1.22;
}
@media (min-width:$desktop) {
margin-bottom: 12px;
}

}

.header-icon{
  stroke: none;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 43px;
  left: 20px;
  @media (min-width:$tablet) {
    top: 73px;
   
  }
  @media (min-width:$desktop) {
    top: 92px;

  }
}
.header-icon-star{
  stroke: rgba(126, 134, 145, 1);
  fill:none;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 43px;
  right: 20px;
  cursor: pointer;
  @media (min-width:$tablet) {
    top: 73px;
    
  }
  @media (min-width:$desktop) {
    top: 92px;
   
  }
  
}

::placeholder{
color: #000000;
}
.header-item{
list-style: none;
margin-bottom: 5px;
}

.header-slider{
  overflow: hidden;
}

.add-indent{
height: 28px;
}
.header-list{
align-content:space-around;
width: 200px;
display: flex;
flex-wrap: wrap;
  
margin-left: 20px;
@media (min-width:$tablet) {
margin-left: 80px;
width: 400px;
}
@media (min-width:$desktop) {
margin-left: 290px;
}
}

.header-btn{
 
  display: inline-block;
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  min-width: 74px;
  height: 28px;
  padding: 5.5px 32px 5.5px 12px;

  background: rgba(16, 33, 54, 0.5);
  cursor: pointer;
}


.header-text{
display: flex;
font-size: 12px;
line-height: 1.17;
text-decoration-line: underline;
text-align: start;
color: rgba(255, 255, 255, 1);
@media (min-width:$tablet) {
  font-size: 14px;
  line-height: 1.21; 
}

}
.header-close{
  stroke: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  position: absolute;
  top: 9px;
  right: 12px; 
  
}

.header-slide{
width: 28px;
height: 28px;
padding: 11px 12px;
top: 93px;
margin-left: 250px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.2);

border: none;
cursor: pointer;
@media (min-width:$tablet) {
  top: 120px;
  margin-left: 450px;
}
@media (min-width:$desktop) {
  top: 138px;
  margin-left: 720px;
}
}
.header-arrow{
fill: none;
stroke: rgba(0, 0, 0, 1);
display: block;
margin: 0 auto;
width: 8px;
height: 8px;
top: 10px;
left: 11px;
}




