.none {
    display: none !important;
}

.compress {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
}

.container_off {
    @media (min-width: $desktop) {
        max-width: unset!important;
        margin: 0!important;
        padding: 0!important;
    }
}