{{#each this.list}}

<li class="card">
    <h2>{{dayOnCards}}</h2>
    <p>{{dateOnCards}}</p>
    <p>{{monthOnCards}}</p>
    <svg>
        <use href=""></use>
    </svg>

    <button class="more-info">More info</button>
</li>
{{/each}}