// цвета
$maincolor: rgba(16, 33, 54, 0.8);
$accent:#FF6B09;
// _____
// адаптивка
$start:320px;
$mobile:480px;
$tablet:768px;
$desktop:1280px;
// _____
*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-style: normal;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

svg {
    stroke: black; //Нужно удалить после того как все дадут стили своим свгшкам
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
}

.container {
    max-width: $mobile;
    margin: 0 auto;
    padding: 0 6.25% 0 6.25%;
}

@media (min-width:$mobile) {
    .container {
        padding: 0 20px 0 20px;
    }
}

@media (min-width:$tablet) {
    .container {
        max-width: $tablet;
        padding: 0 74px 0 74px;
    }
}

@media (min-width:$desktop) {
    .container {
        max-width: $desktop;
        padding: 0 110px 0 110px;
    }
}