// Фон подключать так
// body {
//     background-image: url(./THE_BEST_PROGRAMERS/_your_name/images/arms.jpg);
// }
// обратите внимание используется относительный путь в Вашу папку с Вашими изображениями
// Тут не использовать спрайт!
.weather-moreInfo {
  min-width: 919px;
  display: flex;
  justify-content: center;
  margin-bottom: 49px;

  @media (min-width: $mobile) {
    .container {
      padding: 0 20px 0 20px;
    }
  }
  @media (min-width: $tablet) {
    margin-bottom: 88px;
    min-width: 919px;
    margin-top: 40px;
    .container {
      max-width: $tablet;
      padding: 0 74px 0 74px;
    }
  }
  @media (min-width: $desktop) {
    min-width: 1056px;
    margin-bottom: 0px;
    margin-top: 40px;
    justify-content: center;

    .container {
      max-width: $desktop;
      padding: 0 110px 0 110px;
    }
  }
}
.galery_item {
  overflow: hidden;
  max-width: 100%;
}

.galery {
  padding: 0px;
  display: flex;
  justify-content: center;
}
.galery_item:not(:last-child) {
  margin-right: 10px;
}
.border {
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.galery_item {
  padding-top: 15px;
  padding-bottom: 18px;
  text-align: center;
  list-style: none;
  width: 120px;
  left: 190px;
  top: 588px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.54);
  box-sizing: border-box;
  border-radius: 25px;
  @media (min-width: $tablet) {
    .container {
      max-width: $tablet;
      padding: 0 74px 0 74px;
    }
  }
}
.weather-main {
  width: max-content;
  overflow: hidden;
  background: rgba(16, 33, 54, 0.8);
  box-shadow: 0px 8px 43px rgba(16, 33, 54, 0.6);
  border-radius: 34px;
  @media (min-width: $mobile) {
    .container {
      padding: 0 20px 0 20px;
    }
  }
  @media (min-width: $tablet) {
    overflow: hidden;
    width: 620px;
    .container {
      max-width: $tablet;
      padding: 0 74px 0 74px;
    }
  }

  @media (min-width: $desktop) {
    justify-content: center;
    width: 1060px;
    .container {
      max-width: $desktop;
      padding: 0 110px 0 110px;
    }
  }
}
.galery_item_time {
  color: rgba(255, 255, 255, 0.2);
  padding-bottom: 6px;
}
.galery_svg {
  stroke: none;
  fill: rgba(255, 255, 255, 0.54);
}
.bar {
  padding-right: 20px;
}
.galery_item_temperature {
  padding-top: 10px;
  font-size: 18px;
  line-height: 22px;
  color: $accent;
  @media (min-width: $desktop) {
    font-size: 25px;
    line-height: 30px;
    .container {
      max-width: $desktop;
      padding: 0 110px 0 110px;
    }
  }
}
.galery_item_barometer {
  margin: 0px;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.peshka {
  margin: 0px;
}
.ewcw {
  display: none;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  @media (min-width: $mobile) {
    // display: none;
    .container {
      padding: 0 20px 0 20px;
    }
  }
  @media (min-width: $tablet) {
    display: block;
    top: 580px;
    left: 561px;
    position: absolute;

    .container {
      max-width: $tablet;
      padding: 0 74px 0 74px;
    }
  }

  @media (min-width: $desktop) {
    display: none;
    .container {
      max-width: $desktop;
      padding: 0 110px 0 110px;
    }
  }
}
.button_svg {
  fill: none;
  stroke: #ffffff;
}
