// Фон подключать так
// body {
//     background-image: url(./THE_BEST_PROGRAMMERS/_your_name/images/arms.jpg);
// }
// обратите внимание используется относительный путь в Вашу папку с Вашими изображениями
// Тут не использовать спрайт!
.charts {
    background-color: rgba(16, 33, 54, 0.8);
    box-shadow: 0px 8px 43px rgb(16 33 54 / 60%);
    border-radius: 34px;
    width: 1060px;
height: 540px;
padding:88 80 180 40 ;
padding-top: 88px;
padding-left: 80px;
padding-bottom: 40px;
padding-right: 180px;
}
.button-chart-close {
    background-color: rgba(16, 33, 54, 0.8);
    color: #FF6B09;
        display: flex;
    align-items: center;
    opacity: 0;
}